@font-face {
    font-family: 'Zuume';
    src: url('Zuume-Bold.woff2') format('woff2'),
        url('Zuume-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

